<ion-content>
  <ion-slides pager="true">

    <!-- Slide 1 -->
    <ion-slide>
      <ion-text color="light">
        <img src="/assets/img/cat-face-1.svg">
        <h1>¡Bienvenid@ a TestLoginApp!</h1>
        <p>Ésta es una aplicación épica porque...</p>
        <ion-button (click)="next()" fill="outline" color="light">Siguiente</ion-button>
      </ion-text>
    </ion-slide>
 
    <!-- Slide 2 -->
    <ion-slide>
      <ion-text color="light">
        <img src="/assets/img/cat-face-2.svg">
        
        <p>... tiene todo lo que una app de login necesita!</p>
        <h1>¡Descúbrelo!</h1>
        <ion-button (click)="start()" color="light">Comenzar</ion-button>
      </ion-text>
    </ion-slide>
 
  </ion-slides>
</ion-content>